<p><h1>Hola {{$ctrl.user[0].username}}!</h1>
<a href="" ng-click="$ctrl.logout()">Salir</a></p>
<br>
<div>
    <a href="" ng-click="$ctrl.setCategory('Computadoras')">Computadoras</a>
    <a href="" ng-click="$ctrl.setCategory('Celulares')">Celulares</a>
</div>
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
    <tr ng-repeat="pr in $ctrl.products  | filter : {category:$ctrl.category}: true">
        <td>{{pr.id}}</td>
        <td>{{pr.brand}}</td>
        <td>{{pr.model}}</td>
        <td>{{pr.price}}</td>
        <td><a href="" ng-click="$ctrl.edit(pr)">Editar</a> - <a href="" ng-click="$ctrl.delete(pr.id)" >Eliminar</a></td>
    </tr>
</table>

<div ng-include="'main/home/add-edit-product.html'"></div>
<div ng-include="'main/home/confirm-product.html'"></div>